
/* Animacion de fondo */

body {
        background: linear-gradient(120deg, #f3e8ff 0%, #e0e7ff 100%);
        min-height: 100vh;
      }
      .fade-in {
        opacity: 0;
        transform: scale(0.98) translateY(30px);
        transition: opacity 1s cubic-bezier(.4,0,.2,1), transform 1s cubic-bezier(.4,0,.2,1);
      }
      .fade-in.visible {
        opacity: 1;
        transform: scale(1) translateY(0);
      }



/* Animation easy */

body {

animation: aparecer .8s both ;;


}


 @keyframes aparecer {
  
  from {

     opacity: 0;

  }


  to {

   opacity: 1;


  }

}



 /* Animación lenta para el logo */


  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
  @keyframes spin {
    100% { transform: rotate(360deg); }
  }

/* Hover infinito para tablet y tlf */ 

@media (max-width: 1024px) {
  .group .absolute {
    opacity: 1 !important;
  }

  .group img {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
}
